                            @media (min-width: 999px) {
.audioplayer{
    width: 60px;
    height: 60px;
    border: solid;
    border-radius: 8px;
}

.pButton {
    width: 60px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    outline: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}

.play {
    background: url('https://www.arbulang.com/img/play.png');
}

.pause {
    background: url('https://www.arbulang.com/img/stop.jpg');
}

#word {
    position: relative;
    height: 80px;
    font-size: 20px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 100%; /* Rozciągnięcie na całą szerokość */
    grid-column: span 2; /* Zajęcie dwóch kolumn */
    z-index: 10; /* Ustawienie z-index */
}
#part {
    position: relative;
    height: auto;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap; /* Umożliwia przejście przycisków do kolejnego wiersza */
    justify-content: center; /* Wyśrodkowanie przycisków w poziomie */
    gap: 10px; /* Odstępy między przyciskami */
    margin-top: 40px;
    width: 100%;
    z-index: 10;
}

#part button {
    flex: 0 0 auto; /* Przyciski zachowują swoją szerokość */
    margin: 0px; /* Marginesy między przyciskami */
}
#storyone {
    font-size: 16px;
            margin-top: 0px;
}
                /* Stylizacja dla adnotacji/potęgi */
.adannotation {
  display: inline-block;
  position: relative;
}

/* Stylizacja potęgi */
.adannotation::after {
  content: attr(data-annotation); /* Wyświetla adnotację na podstawie atrybutu */
  font-size: 0.7em; /* Zmniejszony rozmiar tekstu dla potęgi */
  position: absolute;
  top: -0.5em; /* Ustawienie nad tekstem */
  right: -0.3em; /* Przesunięcie w prawo */
  color: #555; /* Domyślny kolor potęgi */
}

/* Kolory dla tekstu i potęg */
.adannotation[data-annotation="1"] {
  color: blue; /* Kolor niebieski dla tekstu i potęgi */
}

.adannotation[data-annotation="1"]::after {
  color: blue; /* Kolor niebieski dla potęgi */
}

.adannotation[data-annotation="2"] {
  color: orange; /* Kolor pomarańczowy dla tekstu i potęgi */
}

.adannotation[data-annotation="2"]::after {
  color: orange; /* Kolor pomarańczowy dla potęgi */
}

.adannotation[data-annotation="3"] {
  color: green; /* Kolor zielony dla tekstu i potęgi */
}

.adannotation[data-annotation="3"]::after {
  color: green; /* Kolor zielony dla potęgi */
}
                            }
                            @media (max-width: 999px) {
                                .audioplayer{
    width: 150px;
    height: 150px;
    border: solid;
    border-radius: 10px;
}

.pButton {
    height: 60px;
    width: 60px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}

.play {
    background: url('https://www.arbulang.com/img/play.png');
            max-height: 150px;
        max-width: 150px;
}

.pause {
    background: url('https://www.arbulang.com/img/stop.jpg');
                max-height: 150px;
        max-width: 150px;
}

#word {
    /* Usuń position: absolute; */
    /* Usuń height: 0px; */
    font-size: 20px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-bottom: 0px;
    width: 100%;
    grid-column: span 2;
    z-index: 10;
}
#part {
    position: relative;
    height: auto;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap; /* Umożliwia przejście przycisków do kolejnego wiersza */
    justify-content: center; /* Wyśrodkowanie przycisków w poziomie */
    gap: 10px; /* Odstępy między przyciskami */
    margin-top: 40px;
    width: 100%;
    z-index: 10;
}

#part button {
    flex: 0 0 auto; /* Przyciski zachowują swoją szerokość */
    margin: 0px; /* Marginesy między przyciskami */
    font-size: 10px;
}

    #storyone {
        font-size: 40px;
        line-height: 1.2;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 20px;
    }
                /* Stylizacja dla adnotacji/potęgi */
.adannotation {
  position: relative;
  font-size: 26px; /* Bazowy rozmiar czcionki */
}

/* Stylizacja potęgi */
.adannotation::after {
  content: attr(data-annotation); /* Wyświetla adnotację na podstawie atrybutu */
  position: absolute;
  font-size: 30px; /* Jeszcze większy rozmiar dla potęgi */
  top: -1.2em; /* Umieszczenie wyżej nad tekstem */
  right: -0.3em; /* Przesunięcie w prawo */
  color: #555; /* Kolor potęgi */
}



/* Kolory dla tekstu i potęg */
.adannotation[data-annotation="1"] {
  color: blue; /* Kolor niebieski dla tekstu i potęgi */
          font-size: 15px;
}

.adannotation[data-annotation="1"]::after {
  color: blue; /* Kolor niebieski dla potęgi */
          font-size: 10px;
}

.adannotation[data-annotation="2"] {
  color: orange; /* Kolor pomarańczowy dla tekstu i potęgi */
          font-size: 15px;
}

.adannotation[data-annotation="2"]::after {
  color: orange; /* Kolor pomarańczowy dla potęgi */
          font-size: 10px;
}

.adannotation[data-annotation="3"] {
  color: green; /* Kolor zielony dla tekstu i potęgi */
          font-size: 15px;
}

.adannotation[data-annotation="3"]::after {
  color: green; /* Kolor zielony dla potęgi */
          font-size: 10px;
}
.adannotation[data-annotation="4"] {
  color: gray; /* Kolor zielony dla tekstu i potęgi */
          font-size: 15px;
}

.adannotation[data-annotation="4"]::after {
  color: gray; /* Kolor zielony dla potęgi */
            font-size: 10px;
}
                            }