.audioplayer{
	width: 60px;
	height: 60px;
        border: solid;
            border-radius: 8px;
}

.pButton {
  height: 60px;
  width: 60px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
    border-radius: 8px;
}

.play {
  background: url('http://localhost/arbulanguage.com/img/play.png');
}

.pause {
  background: url('http://localhost/arbulanguage.com/img/stop.jpg');
}

#word {
	height: 60px;
	font-size: 15px;
    display: grid;
	text-align: center;
	justify-content: center;
	align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

#storyone {
    font-size: 16px;
}