                            @media (min-width: 999px) {
.audioplayer{
    width: 60px;
    height: 60px;
    border: solid;
    border-radius: 8px;
}

.pButton {
    height: 60px;
    width: 60px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}

.play {
    background: url('http://localhost/arbulanguage.com/img/play.png');
}

.pause {
    background: url('http://localhost/arbulanguage.com/img/stop.jpg');
}

#word {
    position: relative;
    height: 80px;
    font-size: 20px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 100%; /* Rozciągnięcie na całą szerokość */
    grid-column: span 2; /* Zajęcie dwóch kolumn */
    z-index: 10; /* Ustawienie z-index */
}
#part {
    position: relative;
    height: 50px;
    font-size: 40px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    width: 100%; /* Rozciągnięcie na całą szerokość */
    grid-column: span 3; /* Zajęcie dwóch kolumn */
    z-index: 10; /* Ustawienie z-index */
}

#part button {
    margin: 0 5px; /* Dodatkowy margines między przyciskami */
}
#storyone {
    font-size: 16px;
}
                            }
                            @media (max-width: 999px) {
                                .audioplayer{
    width: 100px;
    height: 100px;
    border: solid;
    border-radius: 8px;
}

.pButton {
    height: 60px;
    width: 60px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}

.play {
    background: url('http://localhost/arbulanguage.com/img/play.png');
}

.pause {
    background: url('http://localhost/arbulanguage.com/img/stop.jpg');
}

#word {
    position: relative;
    height: 80px;
    font-size: 20px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: 100%; /* Rozciągnięcie na całą szerokość */
    grid-column: span 2; /* Zajęcie dwóch kolumn */
    z-index: 10; /* Ustawienie z-index */
}
#part {
    position: relative;
    height: 50px;
    font-size: 40px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    width: 100%; /* Rozciągnięcie na całą szerokość */
    grid-column: span 3; /* Zajęcie dwóch kolumn */
    z-index: 10; /* Ustawienie z-index */
}
                                #part button {
    margin: 0 5px; /* Dodatkowy margines między przyciskami */
    font-size: 40px;
}

                #storyone {
                    border-radius: 20px;
                    width: 800px;
                    height: 120px;
                    font-size: 40px;
                }
                            }